{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mt-8 p-6 bg-white shadow-md rounded-lg max-w-4xl mx-auto">
            <h1 class="text-3xl font-bold mb-6">Hello {{ app.user.prenom }} {{ app.user.nom }}</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_select_fiche') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                        Select Fiche ✅
                    </a>
                {% endif %}

                {% if is_granted('ROLE_COMPTABLE') %}
                    <a href="{{ path('app_lepodium') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                        La Creme de la Creme ✅
                    </a>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_fiche_frais_add_lff') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                        Ajouter Frais Forfait ✅
                    </a>
                {% endif %}

                {% if is_granted('ROLE_COMPTABLE') %}
                    <a href="{{ path('app_comptable_manegeFF') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                        Comptable
                    </a>
                {% endif %}

                {% if is_granted('ROLE_MANAGER') %}
                    <a href="{{ path('app_manager_manegeFF') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                        Manger
                    </a>
                {% endif %}
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <!-- Autres éléments ici -->
            </div>
        </div>
    {% else %}


    {% endif %}
    <div class="mt-8 p-6 bg-white shadow-md rounded-lg max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">Index</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <a href="{{ path('app_etat_index') }}" class="block bg-blue-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-800">
                Etat Index ✅
            </a>
            <a href="{{ path('app_user_index') }}" class="block bg-blue-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-800">
                User Index ✅
            </a>
            <a href="{{ path('app_fiche_frais_index') }}" class="block bg-blue-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-800">
                FicheFrais Index ✅
            </a>
            <a href="{{ path('app_frais_forfait_index') }}" class="block bg-blue-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-800">
                FraisForfait Index ✅
            </a>
        </div>
    </div>
    <div class="mt-8 p-6 bg-white shadow-md rounded-lg max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold mb-6">The Big Boy</h1>
        <div class="grid grid-cols-1 md:grid-cols-max gap-4">
            <a href="{{ path('app_import') }}" class="block bg-purple-500 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-purple-800">
                Import ✅
            </a>
        </div>
    </div>
{% endblock %}
