{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .button-container { display: flex; flex-wrap: wrap; gap: 10px; }
        .button-container a { text-decoration: none; padding: 10px 20px; background-color: #007bff; color: white; border-radius: 5px; flex: 1 1 calc(25% - 10px); box-sizing: border-box; text-align: center; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        <div class="button-container">
            <a href="{{ path('app_import_user') }}">Import User</a>
            <a href="{{ path('app_import_etat') }}">Create Stats</a>
            <a href="{{ path('app_import_fraisforfait') }}">Create Frais Forfait</a>
            <a href="{{ path('app_import_ff') }}">Import Fiche Frais</a>
            <a href="{{ path('app_import_lff') }}">Import Ligne Frais Forfait</a>
            <a href="{{ path('app_import_lfhf') }}">Import Ligne Frais Hors Forfait</a>

        </div>
    </div>
{% endblock %}