{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 py-6">
        <div class="p-6">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">{{ controller_name }}</h1>

        <div class="bg-white p-6 rounded-lg shadow-md mx-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
                <a href="{{ path('app_import_user') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Import User
                </a>
                <a href="{{ path('app_import_etat') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Create Stats
                </a>
                <a href="{{ path('app_import_fraisforfait') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Create Frais Forfait
                </a>
                <a href="{{ path('app_import_ff') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Import Fiche Frais
                </a>
                <a href="{{ path('app_import_lff') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Import Ligne Frais Forfait
                </a>
                <a href="{{ path('app_import_lfhf') }}"
                   class="w-full bg-blue-600 text-white text-center py-2 px-4 rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                    Import Ligne Frais Hors Forfait
                </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}